@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared */
.flexdisplay{
  display: flex;
}

/* Button section */
.primary-btn{
  color:#ffffff;
  font-size: 1.25rem;
  font-weight:600;
  border-radius: 8px;
  border: none;
  background-color: #FF900E;
  padding:18px 25px;
  cursor: pointer;


}

/* nav section */

.nav-item{
  list-style: none;
  margin-right: 35px;
  align-items: center;
}
.navlink{
  text-decoration: none;
  color:#424242;
  font-size: 18px;
  font-weight: 500;
}
.navbar{
  justify-content: space-between;
  align-items:center;
}
.brand-logo{
  font-size: 2.81rem;
  font-weight: 700;
}
/* header section */
header{
  background-color: #FFF4E7;
}

.navbar, .banner{
  max-width: 1140px;
  margin: 0 auto;  
  background-color: #FFF4E7;
}

/* banner style */

.banner-content{
  max-width: 855px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-tittle{
  color:#131313;
  font-size:4rem;
  font-weight:700;
  margin-top: 110px;
  margin-bottom: 24px;
}

.banner-description{
  color:#727272;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 24px;

}

.banner-image{
  size: cover;
  width: 100%;
  margin-bottom: 40px;
}

/* Responsive media query */
/* @media screen and (max-width:576px) {
   body{

   }
} */
