@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared */
.flexdisplay{
  display: flex;
}
section>*{
  max-width: 1440px;
  margin: 0 auto;
}
/* Button section */
.primary-btn{
  color:#ffffff;
  font-size: 1.25rem;
  font-weight:600;
  border-radius: 8px;
  border: none;
  background-color: #FF900E;
  padding:18px 25px;
  cursor: pointer;


}

/* nav section */

.nav-item{
  list-style: none;
  margin-right: 35px;
  align-items: center;
}
.navlink{
  text-decoration: none;
  color:#424242;
  font-size: 18px;
  font-weight: 500;
}
.navbar{
  justify-content: space-between;
  align-items:center;
  padding-top:50px;
}
.brand-logo{
  font-size: 2.81rem;
  font-weight: 700;
}
/* header section */
header{
  background-color: #FFF4E7;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;  
  background-color: #FFF4E7;
}

/* banner style */

.banner-content{
  max-width: 855px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-tittle{
  color:#131313;
  font-size:4rem;
  font-weight:700;
  margin-top: 110px;
  margin-bottom: 24px;
}

.banner-description{
  color:#727272;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 24px;

}

.banner-image{
  size: cover;
  width: 100%;
  margin-bottom: 40px;
}

/* the teams section style here */
.teams{
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-feature{
  max-width: 535px;
  margin-left:50px;


}
.our-feature h1{
  font-size:2.8rem;
  font-weight: 700;

}
#gray{
  color: #727272;
  font-weight:500;
}
#orange{
  color:#FF900E;
}
.our-feature p{
  color:#AFAFAF;
  line-height: 26px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 26px;
  font-size:1rem; 
}

/* Features section start here */
.feature{
  gap: 100px;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
}
.features-tittle{
  border-left: 5px solid #FF900E;
  margin-top: 30px;
  padding-left: 25px;
  color:#131313;
  font: size 45px;
  font-weight: 700;
  margin-top: 24;
}
.feature-description{
  color: #B1B1B1;
  font-size:16px;
  line-height: 26px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Featured card */
.feature-card{
  gap: 30px;
  padding: 20px;
  margin-top: 25px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  max-width: 590px;

}
.feature-card h3{
  color: #131313;
  font-size:1.25rem;
  font-weight:600;
  padding-bottom: 10px;

}
.feature-card p{
  color:#898989;
  font-size:1rem;
  line-height: 26px;
  padding-bottom: 10px;
}
#exp-badge{
  padding:38px 30px;
  margin-left: -100px;
  margin-top: -100px;
}
#exp-year{
  font-size: 4rem;
  font-weight:700;
}

#exp-info{
  font-size: 1.5rem;
  font-weight: 500;
}

/* Award winning Section */
.award-winning-container{
  margin-top: 130px;
}
.award-winning-container h3{
  color:#131313;
  font-size:2.8rem;
  font-weight: 700;
}
.award-winning-container p{
  color:#727272;
  font-size:1rem;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.winning-card{
  display:flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 90px;
  margin-bottom: 60px;
}
.card{
  border: 1px solid #FFA338;
  border-radius:8px;
  padding:30px;
}

.card img{
  margin-bottom:9px;
}
.card h4{
  font-size:2.8rem;
  font-weight: 600;
  margin-top:8px;
  margin-bottom: 8px;
}
.card p{
  color:#727272;
  font-size:1.25rem;
  font-weight: 600;
}
/* Responsive media query mini device*/
@media screen and (max-width:576px) {
   .navbar,
   .navlink,
   .teams
   {flex-direction: column;

   }
   .team-image-container{
    grid-template-columns: repeat(1 ,1fr);
  }
  .our-feature{
 margin-left: 28px;

  }
}